# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Next.js build output
.next/
out/

# Production builds
dist/
build/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# IDE/OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
